@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MegaDesk</h1>
    <p>Click on the MegaDesk link to get started.</p>
</div>
